.HelloWorld {
  border: 1px solid black;
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
}

.HelloWorld__title {
  font-size: 30px;
}

.HelloWorld__tx {
  color: blue;
}

.HelloWorld__success {
  color: green;
}
